---
// component imports
import MainLayout from "../../layouts/MainLayout.astro";

/* const foregroundColor = "hsl(20, 50%, 50%)";
const backgroundColor = "hsl(100, 50%, 50%)";
 */

/* const isRed = true; */

---

<MainLayout title="My Blog">
  <p>hi from <span>Blog</span></p>
 <!--  <p class:list={["big", { red: isRed }]}>hi from Home</p> -->
</MainLayout>
<!-- <MainLayout /> -->

<!-- <style>
  .big {
    font-size: 3rem;
  }
  .red {
    color: red;
  }
</style> -->

<!-- <style define:vars={{ foregroundColor, backgroundColor }}>
  p {
    background-color: var(--backgroundColor);
    color: var(--foregroundColor);
  }
</style> -->
