---
// component imports
import MainLayout from "../layouts/MainLayout.astro";

---

<MainLayout title="About2" description="My About Page">
  <p>hi from About</p>
</MainLayout>

<!-- <MainLayout /> -->