---
// component imports
import MainHead from './MainHead.astro';
import Footer from '../components/Footer.astro';

// style import
import "../styles/global.css";

/* interface Props {
  title?: string;
  description?: string;
} */ //TS

const { title = "My Astro Blog", description = "My musings about the Astro framework" } = Astro.props /* as Props */;

/* const { title } = Astro.props; */

---

<!doctype html>
<html lang="en">
  <MainHead {title} {description} />
<!--   <MainHead title={title} description={description} /> -->
	<body>
    <slot>Default Text</slot>
    <Footer />
	</body>
</html>
